certifi==2019.11.28
chardet==3.0.4
Click==7.0
ConfigArgParse==1.0
Flask==1.1.1
gevent==1.5a3
geventhttpclient-wheels==1.3.1.dev2
greenlet==0.4.15
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
locustio==0.14.5
MarkupSafe==1.1.1
msgpack==1.0.0
psutil==5.7.0
psycopg2-binary==2.8.4
pyzmq==19.0.0
requests==2.23.0
six==1.14.0
SQLAlchemy==1.3.13
urllib3==1.25.8
Werkzeug==1.0.0
